@{
    IList<MsgUser> MsgUserList = ViewBag.MsgUserList;
    ViewBag.SMUid = 23;
    string IsDel = Request.QueryString["IsDel"] != null ? Request.QueryString["IsDel"].ToString() : "0";
    IList<Users> UsersList = ViewBag.UsersList;
    MsgUser MsgUser = ViewBag.MsgUser;
    LokFuEntity Entity = ViewBag.Entity;
    IList<SysPower> SysPowerList = ViewBag.SysPowerList_;
    ViewBag.NoShowDel = true;
    bool IsMyDelete = ViewBag.IsMyDelete;
    bool IsMyEdit = ViewBag.IsMyEdit;
    bool IsMySave = ViewBag.IsMySave;
    bool IsMyAdd = ViewBag.IsMyAdd;
}
@Html.Partial("~/Areas/Manage/Views/Shared/Menu.cshtml")
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <form style="padding: 0 20px 10px 20px;" id="ListForm" name="ListForm" method="get">
        <input type="hidden" id="IsFirst" name="IsFirst" value="1" />
        <span>短信标题：</span>
        <input type="text" class="pagination-panel-input form-control input-small input-inline input-sm" name="Name" value="@(MsgUser.Name)" />
        <span class="seperator">|</span>
        <span>接收商户：</span>
        <input type="text" class="pagination-panel-input form-control input-small input-inline input-sm" name="Info" id="Info" value="@(MsgUser.Info)" />
        可搜：全体商户
  <span class="seperator">|</span>
        <span>状态：</span>
        <select name="State" class="form-control input-small input-inline input-sm">
            <option value="">不限制</option>
            <option value="1" @(MsgUser.State == 1 ? "selected" : "")>未读</option>
            <option value="2" @(MsgUser.State == 2 ? "selected" : "")>已读</option>
            <option value="99" @(MsgUser.State == 99 ? "selected" : "")>失效</option>
        </select>
        <button class="btn btn-sm yellow table-group-action-submit" type="submit"><i class="fa fa-check"></i>查询</button>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-globe"></i>@(ViewBag.Title)</div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    @if (IsMyAdd)
                    { 
                        <div class="btn-group">
                            <a class="btn green" href="Edit.html">发送消息 <i class="fa fa-plus"></i></a>
                        </div>
                    }

                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">批量操作 <i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu pull-right">
                            @if (IsDel == "1")
                            {
                                if (IsMySave)
                                {
                                <li><a href="#" class="BatSet" rev="Reply">批量恢复 </a></li>
                                }
                                if (IsMyDelete)
                                {
                                <li><a href="#" class="BatSet" rev="Deleted">彻底删除 </a></li>
                                }

                            }
                            else
                            {
                                if (IsMySave)
                                {
                                <li><a href="#" class="BatSet" rev="State" rel="1">批量显示 </a></li>
                                <li><a href="#" class="BatSet" rev="State" rel="0">批量隐藏 </a></li>
                                }
                                if (IsMyDelete)
                                {
                                <li><a href="#" class="BatSet" rev="Delete">批量删除 </a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover tablethc" id="ListBox">
                        <thead>
                            <tr>
                                <th class="table-checkbox" width="40">
                                    <input type="checkbox" class="group-checkable CheckAll" rev="list" /></th>
                                <th>接收商户 </th>
                                <th>标题 </th>
                                @*  <th style="display: none;">状态 </th>*@
                                <th>状态 </th>
                                <th>操作商户【操作人】 </th>
                                <th>发送时间 </th>
                                <th width="140">操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (MsgUserList.Count() <= 0)
                            {
                                <tr>
                                    <td colspan="20" style="text-align: center; width: 100%; height: 100%; padding: 50px 0;">
                                        <img src="/Content/Manage/images/@(Request.QueryString["IsFirst"] == null ? "Index_back_img" : "Index_back_img_to").png" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var p in MsgUserList)
                                {
                                    string UName = "";
                                    //全体商户的情况下
                                    if (p.UId == 0 && string.IsNullOrWhiteSpace(p.SendUsers))
                                    {
                                        UName = "全体商户";
                                    }
                                    //多个商户的情况下
                                    else if (p.UId == 0 && !string.IsNullOrWhiteSpace(p.SendUsers))
                                    {
                                        UName = "多个商户";
                                    }
                                    //单个商户的情况下
                                    else if (p.UId > 0 && (string.IsNullOrWhiteSpace(p.SendUsers) || p.SendUsers == ",0,"))
                                    {
                                        if (p.UId > 0)
                                        {

                                            var userModel = Entity.Users.FirstOrNew(n => n.Id == p.UId);
                                            UName = string.IsNullOrWhiteSpace(userModel.TrueName) ? userModel.UserName : userModel.TrueName;
                                        }
                                    }
                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="@(p.Id)" name="list" /></td>
                                    <td class="center">@(UName) </td>
                                    <td class="center">@(p.Name.Length > 15 ? p.Name.Substring(0, 15) + "...." : p.Name) </td>
                                    <td class="center">
                                        @{
                                    if (p.UId > 0)
                                    {
                                        if (p.State == 1)
                                        {
                                            <i class="fa fa-envelope color-green">未读</i>
                                        }
                                        else if (p.State == 2)
                                        {
                                            <i class="fa fa-envelope-o color-red">已读</i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times color-gray">取消</i>
                                        }
                                    }
                                    else
                                    {
                                            <i class="fa fa-envelope-o color-red">==</i>
                                    }
                                        }
                                    </td>
                                    <td class="center">@{
                                    SysAdmin SysAdmin = Entity.SysAdmin.FirstOrNew(a => a.Id == p.PId);
                                    SysAgent SysAgent = Entity.SysAgent.FirstOrNew(a => a.Id == SysAdmin.AgentId);
                                    }
                                        @(SysAgent.Name + "【" + SysAdmin.TrueName + "】")
                                    </td>
                                    <td class="center">@(p.AddTime.ToString("yyyy-MM-dd HH:mm:ss")) </td>
                                    <td class="center">
                                        @if (IsDel == "1")
                                        {
                                            if (IsMySave)
                                            { 
                                            <a class="label label-sm label-info Reply" href="Delete.html?Id=@(p.Id)"><i class="fa fa-reply"></i>恢复</a>
                                            }
                                            if (IsMyDelete)
                                            {
                                            <a class="label label-sm label-danger Deleted" href="Delete.html?Id=@(p.Id)&IsDel=1"><i class="fa fa-trash-o"></i>彻底删除</a>
                                            }
                                        }
                                        else
                                        {
                                            if (IsMySave)
                                            { 
                                            <a class="label label-sm label-success" href="Edit.html?Id=@(p.Id)"><i class="fa fa-wrench"></i>修改</a>
                                            }
                                            if (IsMyDelete)
                                            {
                                            <a class="label label-sm label-danger Delete" href="Delete.html?Id=@(p.Id)"><i class="fa fa-trash-o"></i>删除</a>
                                            }
                                        }
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @Html.Partial("~/Areas/Manage/Views/Shared/Page.cshtml", MsgUserList)
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
@section FooterScripts
{
    @{
    }
}
@section HeaderScripts
{
    @{
    }
}
