@{
    Users Users = ViewBag.Users;
    IList<BasicDesc> BasicDescList1 = ViewBag.BasicDescList1;
    IList<BasicDesc> BasicDescList2 = ViewBag.BasicDescList2;
    StopPayAudit StopPayAudit = ViewBag.StopPayAudit;
}
@Html.Partial("~/Areas/Manage/Views/Shared/Menu.cshtml")
<!-- BEGIN PAGE CONTENT-->
<div id="twitter-bootstrap-container" class="row" style="width: 900px; overflow-x: hidden; overflow-y: auto; margin: 2px;">

    <ul class="nav nav-tabs">
        <li><a href="#base">止付审核</a></li>
        <li><a href="/Manage/Users/IndexUserFrozenLog.html?id=@(Users.Id) #UserFrozenLog" data-target="#UserFrozenLogDiv">止付记录</a></li>
    </ul>

    <div class="portlet box light-grey" style="width: 98%" id="base">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-globe"></i>@(ViewBag.Title)</div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="Audit.html?IsAjax=1" id="chkForm" name="chkForm" class="form-horizontal chkForm" enctype="multipart/form-data" method="post">
                <input type="hidden" name="Id" value="@(StopPayAudit.Id)" />
                <input type="hidden" name="TState" id="TState" />
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">登录帐户</label>
                        <div class="col-md-4">
                            <div class="input-icon right input-large" style="margin-top: 8px">
                                @(Users.UserName)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">商户名称</label>
                        <div class="col-md-4">
                            <div class="input-icon right input-large" style="margin-top: 8px">
                                @(Users.NeekName)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">姓名</label>
                        <div class="col-md-4">
                            <div class="input-icon right input-large" style="margin-top: 8px">
                                @(Users.TrueName)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">发起凭证 </label>
                        <div class="col-md-6 input-icon right" style="margin-top: 8px">
                            @if (!StopPayAudit.Pic.IsNullOrEmpty())
                            {
                                <a href="@(Utils.ImageUrl("StopPayAudit", StopPayAudit.Pic))" target="_blank">凭证</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">发起备注</label>
                        <div class="col-md-4">
                            <div class="input-icon right input-xxlarge" style="margin-top: 8px">
                                @(StopPayAudit.Remark)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">发起时间</label>
                        <div class="col-md-4">
                            <div class="input-icon right input-large" style="margin-top: 8px">
                                @(StopPayAudit.AddTime.ToString("yyyy-MM-dd HH:mm:ss"))
                            </div>
                        </div>
                    </div>
                    @if (StopPayAudit.TState == 1)
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3">审核备注</label>
                            <div class="col-md-4">
                                <div class="input-icon right input-large">
                                    <select style="width: 180px" class="form-control input-inline input-sm" id="CharCode1">
                                        <option value="0">--请选择--</option>
                                        @{
                        foreach (var item in BasicDescList1)
                        {  
                                            <option value="@item.DescText">@item.TitleCode</option>
                        }
                                        }
                                    </select>
                                    <div class="input-icon right" style="margin-top: 10px;">
                                        <i class="fa"></i>
                                        <textarea class="form-control input-xxlarge validate[required,maxSize[1000]]" name="AuditRemark" id="AuditRemark" rows="3"></textarea>
                                        <p style="color: grey"><span style="color: red">*</span>该备注内容商户可见</p>
                                    </div>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">内部备注</label>
                            <div class="col-md-4">
                                <div class="input-icon right input-large">
                                    <select style="width: 180px" class="form-control input-inline input-sm" id="CharCode2">
                                        <option value="0">--请选择--</option>
                                        @{
                        foreach (var item in BasicDescList2)
                        {  
                                            <option value="@item.DescText">@item.TitleCode</option>
                        }
                                        }
                                    </select>
                                    <div class="input-icon right" style="margin-top: 10px;">
                                        <i class="fa"></i>
                                        <textarea class="form-control input-xxlarge validate[maxSize[1000]]" name="AuditInteriorRemark" id="AuditInteriorRemark" rows="3"></textarea>
                                        <p style="color: grey"><span style="color: red">*</span>该备注内容商户不可见、管理平台可见</p>
                                    </div>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid" style="text-align: center">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn green" onclick="javascript:Audit(2)">审核通过</button>
                                <button type="button" class="btn red" onclick="javascript:Audit(3)">审核失败</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3">审核人</label>
                            <div class="col-md-4">
                                <div class="input-icon right input-large" style="margin-top: 8px">
                                    @(StopPayAudit.AuditAdminName)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">审核备注</label>
                            <div class="col-md-4">
                                <div class="input-icon right input-xxlarge" style="margin-top: 8px;">
                                    @(StopPayAudit.AuditRemark)
                                </div>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="control-label col-md-3">内部备注</label>
                            <div class="col-md-4">
                                <div class="input-icon right input-xxlarge" style="margin-top: 8px;">
                                    @(StopPayAudit.AuditInteriorRemark)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">审核时间</label>
                            <div class="col-md-4">
                                <div class="input-icon right input-large" style="margin-top: 8px">
                                    @(StopPayAudit.AuditTime.HasValue ? StopPayAudit.AuditTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "--")
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

    <div id="UserFrozenLogDiv"></div>
</div>
@section FooterScripts
{
    <script src="/Content/Metronic/plugins/jquery.validationEngine.js"></script>
    <link href="/Content/Metronic/plugins/data-tables/DT_bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="/Content/HaoFu/plugins/jquery.easytabs.min.js"></script>
    <script src="/Content/Metronic/plugins/data-tables/jquery.dataTables.min.js?201611170853"></script>
    <script src="/Content/Metronic/plugins/data-tables/DT_bootstrap.js"></script>
    <script>
        $("#artdialogid").val(parent.currentAtr.config.id);
        function Audit(type) {
            $("#TState").val(type);
            $('#chkForm').validationEngine('detach');
            $('#chkForm').validationEngine('hideAll');
            if (type == "2") {
                $("#AuditRemark").removeClass("validate[required,maxSize[1000]]");
                $("#AuditRemark").addClass("validate[maxSize[1000]]");
            }
            else {
                $("#AuditRemark").removeClass("validate[maxSize[1000]]");
                $("#AuditRemark").addClass("validate[required,maxSize[1000]]");
            }
            $('#chkForm').validationEngine('attach');
            $("#chkForm").submit();
        }
        $("#CharCode1").change(function () {
            var checkValue = $(this).val();
            if (checkValue == "0") {
                $("#AuditRemark").val("");
            } else {
                $("#AuditRemark").val($(this).val());
            }
        });
        $("#CharCode2").change(function () {
            var checkValue = $(this).val();
            if (checkValue == "0") {
                $("#AuditInteriorRemark").val("");
            } else {
                $("#AuditInteriorRemark").val($(this).val());
            }
        });

        $(document).ready(function () {
            //ajax请求完成执行
            tab.bind('easytabs:ajax:complete', function (event, $clicked, $targetPanel, settings) {
                if ($clicked.attr("data-target") == "#UserFrozenLogDiv") {
                    var table = TableIni("UserFrozenLog");
                }
            });
        });
    </script>
}
