@{
    Orders Orders = ViewBag.Orders;
    IList<BasicDesc> BasicDescList = ViewBag.BasicDescList;
}
@Html.Partial("~/Areas/Manage/Views/Shared/Menu.cshtml")
<!-- BEGIN PAGE CONTENT-->
<div class="row" style="width: 650px; overflow-x: hidden; overflow-y: auto; margin: 0px; padding: 10px;">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box light-grey">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-globe"></i>@(ViewBag.Title)</div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="Chargeback.html?IsAjax=1" id="chkForm" name="chkForm" class="form-horizontal chkForm" enctype="multipart/form-data" method="post">
                <input type="hidden" name="TNum" value="@(Orders.TNum)" />
                <input type="hidden" name="IsAjax" value="1" />
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">订单编号</label>
                        <div class="col-md-4">
                            <div class="input-icon right input-large" style="margin-top: 8px">
                            @(Orders.TNum)
                                </div>
                        </div>
                    </div>
                    @if(Orders.TDState == 0)
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3">过期时间</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control validate[required,custom(date)]  Wdate" name="TDLastTime" id="DDLastTime" value="" />
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="control-label col-md-3">退款凭证 </label>
                        <div class="col-md-6 input-icon right">
                            @Html.Partial("FileLoad", new FileLoad() { StandardSize = 4, BigName = "Pic", FilePath = "OrdersRefund", IsSmall = false, FileContentType = new string[] { "image/bmp", "image/gif", "image/pjpeg", "image/jpeg", "image/png","application/zip" }, Class = "validate[required]" })
                            <p class="help-block"></p>
                            <br />
                            <span><span style="color:red">*</span>请上传Bmp、Gif、Jpeg、Png、ZIP格式</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">退款说明</label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <select style="width: 180px;margin-bottom:5px;" class="form-control input-inline input-sm" id="CharCode" name="CharCode">
                                    <option value="0">--请选择--</option>
                                    @{
                                        foreach (var item in BasicDescList)
                                        {  
                                        <option value="@item.DescText">@item.TitleCode</option>
                                        }
                                    }
                                </select>
                                <textarea class="form-control input-large validate[required]" name="Remark" id="Remark" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">确认</button>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
@section FooterScripts
{
<link href="/Content/HaoFu/plugins/ValidationEngine/css/validationEngine.jquery.css" rel="stylesheet" /> 
    <script src="/Content/Metronic/plugins/jquery.validationEngine_Float.js"></script>
    <script type="text/ecmascript">
        $("#CharCode").change(function () {
            var checkValue = $(this).val();
            if (checkValue == "0") {
                $("#Remark").val("");
            } else {
                $("#Remark").val(checkValue);
            }
        });
    </script>
}
