@{
    Layout = null;
    bool IsWeiXinBrowser = ViewBag.IsWeiXinBrowser;
    OrderTransfer OrderTransfer = ViewBag.OrderTransfer;
    SysSet BasicSet = ViewBag.BasicSet;
    Orders Orders = ViewBag.Orders;
    string Parameters = ViewBag.Parameters;
    string openid = ViewBag.openid;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>微信支付</title>
    <script src="/Content/Metronic/plugins/jquery-1.7.1.min.js" type="text/javascript"></script>
    <link href="/Content/Mobile/Shop/css/main.css?2016" rel="stylesheet" />
</head>
<body>
    @if (!IsWeiXinBrowser)
    {
        <div class="topbu">微信支付</div>
    }
    <div class="middle">
        <div class="info"> <span class="txt1">交易名称: </span><span class="txt2">@(Orders.TName)</span> </div>
        <div class="info"> <span class="txt1">订单号码 : </span><span class="txt2">@(Orders.TNum)</span> </div>
        <div class="info"> <span class="txt1">交易金额 : </span><span class="txt2"><span class="txt3">@(Orders.Amoney.ToString("F2"))</span>元</span> </div>
        <div class="info"> <span class="txt1">交易时间 : </span><span class="txt2">@(Orders.AddTime.ToString("yyyy-MM-dd HH:mm:ss"))</span> </div>
        <div id="TextInfo">
            请在微信中完成支付！
        </div>
        <div class="gongneng" id="Success">
            <a href="/mobile/shop/info-@(Orders.UId).html" style="margin: 0 6%;">店铺介绍</a>
            <a href="/mobile/shop/index-@(Orders.UId).html">再买一单</a>
        </div>
        <div class="gongneng" id="Fail">
            <a href="/mobile/shop/info-@(Orders.UId).html" style="margin: 0 6%;">店铺介绍</a>
            <a href="javascript:callpay();">重新付款</a>
        </div>
  </div>
   <script type="text/javascript">
       //调用微信JS api 支付
       function jsApiCall()
       {
           WeixinJSBridge.invoke('getBrandWCPayRequest',
               @Html.Raw(Parameters),//josn串
               function (res){
                   if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                       $(".gongneng").hide();
                       $("#TextInfo").html("付款成功！");
                       $("#Success").show();
                   }
                   if(res.err_msg == "get_brand_wcpay_request:cancel" ) {
                       $(".gongneng").hide();
                       $("#TextInfo").html("交易已经取消！");
                       $("#Fail").show();
                   }
                   if(res.err_msg == "get_brand_wcpay_request:fail" ) {
                       $(".gongneng").hide();
                       $("#TextInfo").html("付款失败！");
                       $("#Fail").show();
                   }
               }
           );
       }
       function callpay(){
           if (typeof WeixinJSBridge == "undefined")
           {
               if (document.addEventListener){
                   document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
               }else if (document.attachEvent){
                   document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                   document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
               }
           }else{
               jsApiCall();
           }
       }
       callpay();
     </script>
</body>
</html>
