@{
    BanKaType BanKaType = ViewBag.BanKaType;
    ViewBag.SMUid = 185;
    if (BanKaType.Id.IsNullOrEmpty()){
        BanKaType.State = 1;
    }
}
@Html.Partial("~/Areas/Manage/Views/Shared/Menu.cshtml")
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-globe"></i>@(ViewBag.Title)</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@(BanKaType.Id.IsNullOrEmpty() ? "Add" : "Save").html" id="chkForm" name="chkForm" class="form-horizontal chkForm" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="Id" value="@(BanKaType.Id)" />
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            您所填定内容无法通过验证，请检查警示项目.
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">标题 <span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right input-large">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control  validate[required] input-large" name="Title" id="Title" value="@(BanKaType.Title)" />
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">图片 <span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right input-xlarge">
                                    @Html.Partial("FileLoad", new FileLoad() { BigName = "Pic", FilePath = "BanKaType", IsSmall = false, FileContentType = new string[] { "image/bmp", "image/gif", "image/pjpeg", "image/jpeg", "image/png" } })
                                    @if (!BanKaType.Pic.IsNullOrEmpty())
                                    {
                                        <a href="@(Utils.ImageUrl("BanKaType", BanKaType.Pic))" target="_blank">
                                            <img src="@(Utils.ImageUrl("BanKaType", BanKaType.Pic))" height="25" />
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">金额 <span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right input-large">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control validate[required,custom[money]] input-small" name="Amoney" id="Amoney" value="@((double)BanKaType.Amoney)" />
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">状态 <span class="required">* </span></label>
                            <div class="col-md-4">
                                <select class="bs-select form-control input-xsmall" name="State" id="State">
                                    <option value="1"@(BanKaType.State == 1 ? " selected" : "")>显示</option>
                                    <option value="0"@(BanKaType.State != 1 ? " selected" : "")>隐藏</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">排序 <span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right input-large">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control validate[required,custom[int]] input-xsmall" name="Sort" id="Sort" value="@(BanKaType.Sort)" />
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">@(BanKaType.Id.IsNullOrEmpty() ? "确认添加":"确认修改")</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
@section FooterScripts
{
    @{
        <script src="/Content/Metronic/plugins/jquery.validationEngine.js"></script>
    }
}
