@{
    SysMoneySet SysMoneySet = ViewBag.SysMoneySet;
    ViewBag.SMUid = 295;
    ViewBag.Title = "卡管家分润设置";
    ViewBag.NoShowDel = true;
}
@Html.Partial("~/Areas/Manage/Views/Shared/Menu.cshtml")
<style>
    .control_label {
        text-align: right;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet box light-grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-reorder"></i>@(ViewBag.Title)</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="JobSplitSetSave.html" id="chkForm" name="chkForm" class="form-horizontal chkForm" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="Id" value="@(SysMoneySet.Id)" />
                    <div class="form-body">
                      
                        <div class="form-group">
                            <label class="control-label col-md-3">交易一级代理分润<span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                   <input type="text" class="form-control input-inline input-small validate[required,custom[float1],min[0],max[10000]]" name="JobSplitA1" id="JobSplitA1" value="@((SysMoneySet.JobSplitA1*10000).ToString("F1"))" /> ‱
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="control-label col-md-3">交易二级代理分润<span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                   <input type="text" class="form-control input-inline input-small validate[required,custom[float1],min[0],max[10000]]" name="JobSplitA2" id="JobSplitA2" value="@((SysMoneySet.JobSplitA2*10000).ToString("F1"))" /> ‱
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3">交易三级代理分润<span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                   <input type="text" class="form-control input-inline input-small validate[required,custom[float1],min[0],max[10000]]" name="JobSplitA3" id="JobSplitA3" value="@((SysMoneySet.JobSplitA3*10000).ToString("F1"))" /> ‱
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3">交易四级代理分润<span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                   <input type="text" class="form-control input-inline input-small validate[required,custom[float1],min[0],max[10000]]" name="JobSplitA4" id="JobSplitA4" value="@((SysMoneySet.JobSplitA4*10000).ToString("F1"))" /> ‱
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3">交易五级代理分润<span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                   <input type="text" class="form-control input-inline input-small validate[required,custom[float1],min[0],max[10000]]" name="JobSplitA5" id="JobSplitA5" value="@((SysMoneySet.JobSplitA5*10000).ToString("F1"))" /> ‱
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3">交易六级代理分润<span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                   <input type="text" class="form-control input-inline input-small validate[required,custom[float1],min[0],max[10000]]" name="JobSplitA6" id="JobSplitA6" value="@((SysMoneySet.JobSplitA6*10000).ToString("F1"))" /> ‱
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>

                           <div class="form-group">
                            <label class="control-label col-md-3">交易一级用户分润<span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                   <input type="text" class="form-control input-inline input-small validate[required,custom[float1],min[0],max[10000]]" name="JobSplitU0" id="JobSplitU0" value="@((SysMoneySet.JobSplitU0*10000).ToString("F1"))" /> ‱
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                          <div class="form-group">
                            <label class="control-label col-md-3">交易二级用户分润<span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                   <input type="text" class="form-control input-inline input-small validate[required,custom[float1],min[0],max[10000]]" name="JobSplitU1" id="JobSplitU1" value="@((SysMoneySet.JobSplitU1*10000).ToString("F1"))" /> ‱
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                          <div class="form-group">
                            <label class="control-label col-md-3">交易三级用户分润<span class="required">* </span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                   <input type="text" class="form-control input-inline input-small validate[required,custom[float1],min[0],max[10000]]" name="JobSplitU2" id="JobSplitU2" value="@((SysMoneySet.JobSplitU2*10000).ToString("F1"))" /> ‱
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            @if (ViewBag.JobSplitSetSave)
                            {
                                <button type="submit" class="btn green" id="btnUpdata">确认修改</button>
                            }
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
@section FooterScripts
{
    <script src="/Content/Metronic/plugins/jquery.validationEngine_Float.js"></script>
}

