@{
    IList<LokFu.Areas.Agent.Controllers.FinUsersMode> FinUsersModeList = ViewBag.FinUsersModeList;
    string IsDel = Request.QueryString["IsDel"] != null ? Request.QueryString["IsDel"].ToString() : "0";
    IList<SysAgent> SysAgentList = ViewBag.SysAgentList;
    //IList<Users> UsersList = ViewBag.UsersList;
    Orders Orders = ViewBag.Orders;
    ViewBag.NoShowDel = true;
    ViewBag.SMUid = 169;
    LokFuEntity Entity = ViewBag.Entity;
    SysAgent BasicAgent = ViewBag.BasicAgent;
    SysSet SysSet = Entity.SysSet.FirstOrNew();
    //获取机构及管理员
    //decimal BB = 0, DD = 0, EE = 0, FF = 0, GG = 0, HH = 0, II = 0, JJ = 0, LL = 0;
    //int bb = 0, dd = 0, ee = 0, ff = 0, gg = 0, hh = 0, ii = 0, jj = 0, ll = 0;
    IList<SysAdmin> SysAdminList = ViewBag.SysAdminList;
    bool IsShowSupAgent = ViewBag.IsShowSupAgent;
    int LowerLevel = ViewBag.LowerLevel;
}
<div class="main-content clearfix order">
    <div class="ifarm-index clearfix">
        <div class="inquiry-cont">
            <form class="frame-list" id="ListForm" name="ListForm" method="get">
                <input type="hidden" id="IsFirst" name="IsFirst" value="1" />
                <table>
                    <tbody>
                        <tr>
                            @if (SysAdminList.Count > 1)
                            {
                                <td width="60" align="right">业务员 : </td>
                                <td width="100" align="left">
                                    <select class="input-md" data-placeholder="==汇总所有==" name="AId" id="AId">
                                        <option value="">==汇总所有==</option>
                                        @foreach (var p in SysAdminList)
                                        {
                                            <option value="@(p.Id)"@(Orders.AId == p.Id ? " selected" : "")>@(p.TrueName)</option>
                                        }
                                    </select>
                                </td>@*
                                        if (BasicAgent.Tier < BasicAgent.AgentLevelMax)
                                        {
                                <td width="80" align="right">显示下级: </td>
                                <td width="200" align="left">
                                    <select name="IsShowSupAgent" id="IsShowSupAgent" class="input-sm">
                                        <option value="false" @(!IsShowSupAgent ? "selected" : "")>否</option>
                                        <option value="true"  @(IsShowSupAgent ? "selected" : "")>是</option>
                                    </select>
                                </td>
                                <td width="80" align="right" id="LowerLevel_td1">下级代理商:</td>
                                <td width="200" align="left" id="LowerLevel_td2">
                                    <select name="LowerLevel">
                                        <option value="0">所有</option>
                                        @{
                                            IList<SysAgent> LowerLevelAgent = Entity.SysAgent.Where(s => s.AgentID == BasicAgent.Id && s.State == 1).ToList();
                                            foreach (SysAgent item in LowerLevelAgent)
                                            {
                                            <option value="@(item.Id)" @(LowerLevel == item.Id ? "selected" : "")>@(item.Name)</option>
                                            }
                                        }
                                    </select>
                                </td>
                                
                                        }
                                *@
                            }
                        </tr>
                        <tr>
                            <td width="80" align="right">交易时间 : </td>
                            <td width="800" align="left" class="date" colspan="4" >
                                <input id="STime" class=" Wdate" type="text" 
                                    name="STime" value="@(Orders.STime == DateTime.MinValue ? "" : Orders.STime.ToString("yyyy-MM-dd HH:mm:ss"))" />
                                - 
                                <input id="ETime" class=" Wdate" type="text" 
                                    name="ETime" id="ETime" value="@(Orders.ETime == DateTime.MinValue ? "" : Orders.ETime.ToString("yyyy-MM-dd HH:mm:ss"))" />
                           @* </td>
                            <td align="left" colspan="2" class="date">*@
                                <a href="javascript:void(0);" id="today" class="first">昨天</a>
                                <a href="javascript:void(0);" id="toweek">本周</a>
                                <a href="javascript:void(0);" id="days7">近七天</a>
                                <a href="javascript:void(0);" id="tomonth">本月</a>
                                <a href="javascript:void(0);" id="days30" class="last">近30天</a>
                            @*</td>*@
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <button type="submit" class="but">查  询</button>
                    <button type="reset" class="but">重  置</button>
                </div>
            </form>
        </div>
        <div class="license-table bor">
            <table class="table table-striped table-bordered table-hover tablethc" id="ListBox">
                <thead>
                    <tr>
                        <th rowspan="2">商户 </th>
                        <th colspan="2">快捷支付 </th>
                       @* <th colspan="2">转帐 </th>
                        <th colspan="2">房租 </th>*@
                        <th colspan="2">升级 </th>
                        @*  <th colspan="2">代理 </th>*@
                        <th colspan="2">支付宝 </th>
                        <th colspan="2">微信 </th>
                      @*  <th colspan="2">NFC </th>*@
                        <th colspan="2">汇总 </th>
                    </tr>
                    <tr>
                       @* <th>数量 </th>
                        <th>金额 </th>
                        <th>数量 </th>
                        <th>金额 </th>
                        <th>数量 </th>
                        <th>金额 </th>*@
                        <th>数量 </th>
                        <th>金额 </th>
                        <th>数量 </th>
                        <th>金额 </th>
                        <th>数量 </th>
                        <th>金额 </th>
                        <th>数量 </th>
                        <th>金额 </th>
                        <th>数量 </th>
                        <th>金额 </th>
                        @* <th>数量 </th>
                    <th>金额 </th>*@
                    </tr>
                </thead>

                <tbody class="tbody">
                    @if (FinUsersModeList.Count() <= 0)
                    {
                        <tr>
                            <td colspan="20" style="text-align: center; width: 100%; height: 100%; padding: 50px 0;">
                                <img src="/Content/Manage/images/@(Request.QueryString["IsFirst"] == null ? "Index_back_img" : "Index_back_img_to").png" />
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in FinUsersModeList)
                        {
                        <tr class="odd gradeX">
                            <td class="center">@(item.NEEKNAME + "[" + item.TrueName + "]")</td>
                            <td class="center">@(item.C_Recharge)笔 </td>
                            <td class="center price">@(item.A_Recharge.ToString("F2")) </td>
                           @* <td class="center">@(item.C_OrderTransfer)笔 </td>
                            <td class="center price">@(item.A_OrderTransfer.ToString("F2")) </td>
                            <td class="center">@(item.C_OrderHouse)笔 </td>
                            <td class="center price">@(item.A_OrderHouse.ToString("F2")) </td>*@
                            <td class="center">@(item.C_PayConfigOrder)笔 </td>
                            <td class="center price">@(item.A_PayConfigOrder.ToString("F2")) </td>
                            <td class="center">@(item.C_Alipay)笔 </td>
                            <td class="center price">@(item.A_Alipay.ToString("F2")) </td>
                            <td class="center">@(item.C_Weixin)笔 </td>
                            <td class="center price">@(item.A_Weixin.ToString("F2")) </td>
                          @*  <td class="center">@(item.C_NFC)笔 </td>
                            <td class="center price">@(item.A_NFC.ToString("F2")) </td>*@
                            <td class="center">@(item.C_Total)笔 </td>
                            <td class="center price">@(item.A_Total.ToString("F2")) </td>
                        </tr>
                        }
                    }
                    <tr style="background: #FF0;">
                        <td class="center"><b>合计：</b></td>
                        <td class="center">@(FinUsersModeList.Sum(o=>o.C_Recharge))笔 </td>
                        <td class="center price">@(FinUsersModeList.Sum(o=>o.A_Recharge).ToString("F2")) </td>
                      @*  <td class="center">@(FinUsersModeList.Sum(o=>o.C_OrderTransfer))笔 </td>
                        <td class="center price">@(FinUsersModeList.Sum(o=>o.A_OrderTransfer).ToString("F2")) </td>
                        <td class="center">@(FinUsersModeList.Sum(o=>o.C_OrderHouse))笔 </td>
                        <td class="center price">@(FinUsersModeList.Sum(o=>o.A_OrderHouse).ToString("F2")) </td>*@
                        <td class="center">@(FinUsersModeList.Sum(o=>o.C_PayConfigOrder))笔 </td>
                        <td class="center price">@(FinUsersModeList.Sum(o=>o.A_PayConfigOrder).ToString("F2")) </td>
                        <td class="center">@(FinUsersModeList.Sum(o=>o.C_Alipay))笔 </td>
                        <td class="center price">@(FinUsersModeList.Sum(o=>o.A_Alipay).ToString("F2")) </td>
                        <td class="center">@(FinUsersModeList.Sum(o=>o.C_Weixin))笔 </td>
                        <td class="center price">@(FinUsersModeList.Sum(o=>o.A_Weixin).ToString("F2")) </td>
                      @*  <td class="center">@(FinUsersModeList.Sum(o=>o.C_NFC))笔 </td>
                        <td class="center price">@(FinUsersModeList.Sum(o=>o.A_NFC).ToString("F2")) </td>*@
                        <td class="center">@(FinUsersModeList.Sum(o=>o.C_Total))笔 </td>
                        <td class="center price">@(FinUsersModeList.Sum(o=>o.A_Total).ToString("F2")) </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
@section FooterScripts
{
    @{
        <script type="text/javascript" src="/Content/HaoFu/js/my97datepicker/4.8.0/WdatePicker.js"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <script>

            //格式化日期
            Date.prototype.Format = function (fmt) { //author: meizz 
                var o = {
                    "M+": this.getMonth() + 1, //月份 
                    "d+": this.getDate(), //日 
                    "h+": this.getHours(), //小时 
                    "m+": this.getMinutes(), //分 
                    "s+": this.getSeconds(), //秒 
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                    "S": this.getMilliseconds() //毫秒 
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }
            //获得本周的开始日期　　
            Date.prototype.getWeekStart = function () {
                var weekStart = new Date(this);
                var dayOfWeek = weekStart.getDay();
                var day = weekStart.getDate();
                weekStart.setDate(day - dayOfWeek);
                return weekStart;
            }
            //获得本周的结束日期　　
            Date.prototype.getWeekEnd = function () {
                var weekEnd = new Date(this);
                var dayOfWeek = weekEnd.getDay();
                var day = weekEnd.getDate();
                weekEnd.setDate(day - dayOfWeek + 6);
                return weekEnd;
            }
            //获得某月的天数     
            function getMonthDays(myYear, myMonth) {
                var monthStartDate = new Date(myYear, myMonth, 1);
                var monthEndDate = new Date(myYear, myMonth + 1, 1);
                var days = (monthEndDate - monthStartDate) / (1000 * 60 * 60 * 24);
                return days;
            }
            $(function () {
                if ($("#IsShowSupAgent").val() == "true") {
                    $("#LowerLevel_td1").show();
                    $("#LowerLevel_td2").show();
                }
                else {
                    $("#LowerLevel_td1").hide();
                    $("#LowerLevel_td2").hide();
                }
                $("#IsShowSupAgent").change(function () {
                    if ($("#IsShowSupAgent").val() == "true") {
                        $("#LowerLevel_td1").show();
                        $("#LowerLevel_td2").show();
                    }
                    else {
                        $("#LowerLevel_td1").hide();
                        $("#LowerLevel_td2").hide();
                    }
                });
                var seed = new Date("@(DateTime.Now.ToShortDateString())");
                $(".date > a").click(function () {
                    $(".date > a").removeClass("active");
                    $(this).addClass("active");
                });
                $("#today").click(function () {
                    var currentDay = seed.getDate();
                    var myyear = seed.getFullYear();
                    var mymonth = seed.getMonth();
                    var yesterday = new Date(myyear, mymonth, currentDay - 1);
                    $("#STime").val(yesterday.Format("yyyy-MM-dd 00:00:00"));
                    $("#ETime").val(yesterday.Format("yyyy-MM-dd 23:59:59"));
                });
                $("#toweek").click(function () {
                    var sTime = seed.getWeekStart();
                    var eTime = seed.getWeekEnd();
                    $("#STime").val(sTime.Format("yyyy-MM-dd 00:00:00"));
                    $("#ETime").val(eTime.Format("yyyy-MM-dd 23:59:59"));
                });
                $("#tomonth").click(function () {
                    var dayNum = getMonthDays(seed.getFullYear(), seed.getMonth());
                    var sTime = new Date(seed.getFullYear(), seed.getMonth(), 1);
                    var eTime = new Date(seed.getFullYear(), seed.getMonth(), dayNum);
                    $("#STime").val(sTime.Format("yyyy-MM-dd 00:00:00"));
                    $("#ETime").val(eTime.Format("yyyy-MM-dd 23:59:59"));
                });
                $("#days7").click(function () {
                    var sTime = new Date(seed);
                    var eTime = new Date(seed);
                    sTime.setDate(sTime.getDate() - 7);
                    $("#STime").val(sTime.Format("yyyy-MM-dd 00:00:00"));
                    $("#ETime").val(eTime.Format("yyyy-MM-dd 23:59:59"));
                });
                $("#days30").click(function () {
                    var sTime = new Date(seed);
                    var eTime = new Date(seed);
                    sTime.setDate(sTime.getDate() - 30);
                    $("#STime").val(sTime.Format("yyyy-MM-dd 00:00:00"));
                    $("#ETime").val(eTime.Format("yyyy-MM-dd 23:59:59"));
                });
            })
        </script>
    }
}

