@{
    IList<FastOrder> FastOrderList = ViewBag.FastOrderList;
    string IsDel = Request.QueryString["IsDel"] != null ? Request.QueryString["IsDel"].ToString() : "0";
    IList<Users> UsersList = ViewBag.UsersList;
    IList<FastPayWay> FastPayWayList = ViewBag.FastPayWayList;
    IList<SysAgent> SysAgentList = ViewBag.SysAgentList;
    //IList<SysAgent> ResideSysAgentList = ViewBag.ResideSysAgentList;
    FastOrder FastOrder = ViewBag.FastOrder;
    ViewBag.NoShowDel = true;
    ViewBag.SMUid = 264;
    LokFuEntity Entity = ViewBag.Entity;
    bool IsShowSupAgent = ViewBag.IsShowSupAgent;
    bool ExcelExport = ViewBag.ExcelExport;
    bool SysAgentClearing = ViewBag.SysAgentClearing;
    bool StateChange = ViewBag.StateChange;
    bool Resubmit = ViewBag.Resubmit;
    List<int> AllowFastPayWayIdList = ViewBag.AllowFastPayWayIdList;
}
@Html.Partial("~/Areas/Manage/Views/Shared/Menu.cshtml")
<!-- BEGIN PAGE CONTENT-->
<style>
    .adddiv li {
        border-bottom: 1px solid #ddd;
        line-height: 42px;
    }

    .adddiv .progress {
        position: relative;
        top: 10px;
        right: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset !important;
    }

    .adddiv {
        width: 680px;
    }

        .adddiv .container {
            width: 620px;
            padding: 0;
        }

        .adddiv .progress {
            padding: 0;
        }
</style>
<div id="Stats"></div>
<div class="row">
    <form style="padding: 0 20px 10px 20px;" id="ListForm" name="ListForm" method="get">
        <input type="hidden" id="IsFirst" name="IsFirst" value="1" />
        <select name="UId" class="form-control input-small input-inline input-sm" style="width: 90px !important">
            <option value="1" @(FastOrder.UId == 1 ? "selected" : "")>交易号</option>
            <option value="2" @(FastOrder.UId == 2 ? "selected" : "")>商户名</option>
        </select>
        <input type="text" class="pagination-panel-input form-control input-smedium input-inline input-medium" name="TNum" value="@(FastOrder.TNum)"  />
        <span class="seperator">|</span>
        <select name="Bin" class="form-control input-small input-inline input-sm" style="width: 100px !important">
            <option value="1" @(FastOrder.Bin == "1" ? "selected" : "")>创建时间</option>
            <option value="2" @(FastOrder.Bin == "2" ? "selected" : "")>支付时间</option>
        </select>
        <input class="pagination-panel-input form-control  input-inline input-sm  Wdate" type="text"  name="STime" id="STime" value="@(FastOrder.STime == DateTime.MinValue ? "" : FastOrder.STime.ToString("yyyy-MM-dd HH:mm:ss"))" >
        ~<input class="pagination-panel-input form-control  input-inline input-sm  Wdate" type="text" name="ETime" id="ETime" value="@(FastOrder.ETime == DateTime.MinValue ? "" : FastOrder.ETime.ToString("yyyy-MM-dd HH:mm:ss"))" >
        <span class="seperator">|</span>
        <select name="State" class="form-control input-small input-inline input-sm" id="State" style="width: 100px !important">
            <option value="0">订单状态</option>
            <option value="99" @(FastOrder.State == 99 ? "selected" : "")>交易关闭</option>
            <option value="1" @(FastOrder.State == 1 ? "selected" : "")>未付</option>
            <option value="2" @(FastOrder.State == 2 ? "selected" : "")>已付</option>
        </select>
        <select name="OType" class="form-control input-small input-inline input-sm" id="OType" style="width: 100px !important">
            <option value="">交易类型</option>
            @foreach (var p in Utils.GetFastOrderModel().Where(n => n.Id != 10))
            {
                <option value="@(p.Id)" @(FastOrder.OType == p.Id ? "selected" : "")>@(p.Name)</option>
            }
        </select>
        <span class="seperator">|</span>
        <select class="form-control input-small input-inline input-sm" id="PayWay" name="PayWay" style="width: 100px !important">
            <option value="">支付通道</option>
            @foreach (var p in FastPayWayList)
            {
                <option value="@(p.Id)" @(FastOrder.PayWay == p.Id ? "selected" : "")>@(p.Title)</option>
            }
        </select>
        <select name="UserState" class="form-control input-small input-inline input-sm" id="UserState" style="width: 100px !important">
            <option value="0">用户结算</option>
            <option value="99" @(FastOrder.UserState == 99 ? "selected" : "")>未结算</option>
            <option value="1" @(FastOrder.UserState == 1 ? "selected" : "")>已结算</option>
            <option value="2" @(FastOrder.UserState == 2 ? "selected" : "")>结算失败</option>
            <option value="3" @(FastOrder.UserState == 3 ? "selected" : "")>处理中</option>
        </select>
        <select name="AgentState" class="form-control input-small input-inline input-sm" id="AgentState" style="width: 100px !important">
            <option value="0">代理结算</option>
            <option value="99" @(FastOrder.AgentState == 99 ? "selected" : "")>未结算</option>
            <option value="1" @(FastOrder.AgentState == 1 ? "selected" : "")>已结算</option>
        </select>
        <br />
       @* <span class="seperator">|</span>*@
        <div style="margin-top:10px;">
        <select class="form-control input-xsmedium input-inline input-sm select2me" data-placeholder="==分支机构==" name="Agent" id="Agent">
            <option value="">==分支机构==</option>
            @foreach (var p in SysAgentList)
            {
                <option value="@(p.Id)"@(FastOrder.Agent == p.Id ? " selected" : "")>@(p.Name)</option>
            }
        </select>
        <span id="S_IsShowSupAgent">显示下级：</span>
        <select name="IsShowSupAgent" id="IsShowSupAgent" class="form-control input-xsmall input-inline input-sm">
            <option value="false" @(!IsShowSupAgent ? "selected" : "")>否</option>
            <option value="true"  @(IsShowSupAgent ? "selected" : "")>是</option>
        </select>
         <button class="btn btn-sm yellow table-group-action-submit" style="margin-left:8px;" type="submit"><i class="fa fa-check"></i>查询</button>
        @if (ExcelExport)
        {
            <button class="btn btn-sm green table-group-action-submit" type="button" id="Export"><i class="fa fa-share"></i>导出</button>
        }
       
        @if (ViewBag.ExcelInport)
        {
        <span class="btn btn-sm fileinput-button" style="height:28px;padding-top:5px;background-color: #35aa47;color: white;   ">
            <i class="glyphicon glyphicon-plus"></i>
            <span  style=" color: white;font-weight:normal;">结算导入</span>
            <input type="file" class="UpLoadFile" name="UpLoadFile" data-name="Tnum_Reverse" />
        </span>
             
        }
         @if (ViewBag.Download)
        { 
          <button class="btn btn-sm green table-group-action-submit" type="button" id="Download"><i class="fa fa-share"></i>模板下载</button>
        }
          <div class="adddiv" style="margin: 10px 0 0">
           </div>
</div>

    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-globe"></i>@(ViewBag.Title)</div>
            </div>
            <div class="portlet-body">

                <div class="table-toolbar">
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="btn green" id="count"><i class="fa fa-bar-chart-o"></i>统计</a>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">批量操作 <i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#" class="BatClearing" rev="FState" rel="1" max="30">批量代理结算 </a></li>
                        </ul>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover tablethc" id="ListBox">
                        <thead>
                            <tr>
                                <th class="table-checkbox" width="40">
                                    <input type="checkbox" class="group-checkable CheckAll" rev="list" /></th>
                                <th>交易号 </th>
                                <th>交易商户</th>
                                <th>总金额</th>
                                <th>手续费</th>
                                <th>分润</th>
                                <th>交易类型 </th>
                                <th>交易时间 </th>
                                <th>交易状态 </th>
                                <th>用户结算 </th>
                                <th>到账模式</th>
                                  <th>代理结算</th>
                                <th>支付通道 </th>
                                <th>支付时间 </th>
                                <th>分支机构 </th>
                                <th width="80">操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (FastOrderList.Count() <= 0)
                            {
                                <tr>
                                    <td colspan="20" style="text-align: center; width: 100%; height: 100%; padding: 50px 0;">
                                        <img src="/Content/Manage/images/@(Request.QueryString["IsFirst"] == null ? "Index_back_img" : "Index_back_img_to").png" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var p in FastOrderList)
                                {
                                    Users Users = UsersList.FirstOrNew(n => n.Id == p.UId);
                                    string PayWay = "--";
                                    if (p.PayWay > 0 && p.PayState == 1)
                                    {
                                        PayWay = FastPayWayList.FirstOrNew(n => n.Id == p.PayWay).Title;
                                    }
                                    var AgentPathArr = p.AgentPath.Split('|').ToList();
                                    AgentPathArr.RemoveAll(o => o == string.Empty);
                                    string TopAgentName = "";
                                    if (AgentPathArr.Count > 0)
                                    {
                                        int AgentID = 0;
                                        if (int.TryParse(AgentPathArr[0], out AgentID))
                                        {
                                            TopAgentName = SysAgentList.FirstOrNew(o => o.Id == AgentID).Name;
                                        }
                                    }

                                    //string AgentName = ResideSysAgentList.FirstOrNew(n => n.Id == p.Agent).Name;
                                <tr class="odd gradeX">
                                    <td>
                                        @if (p.AgentState == 1)
                                        {
                                            <input type="checkbox" class="checkboxes" disabled />
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="checkboxes" value="@(p.Id)" name="list" />
                                        }
                                    </td>
                                    <td class="center">
                                        @if (ViewBag.Edit)
                                        {
                                            <a href="Info.html?Id=@(p.Id)" class="Ajax">@(p.TNum)</a>
                                        }
                                        else
                                        {
                                            @(p.TNum)
                                        }
                                    </td>
                                    <td class="center">@(Users.NeekName)[@(Users.TrueName)]</td>
                                    <td class="center price">@(p.Amoney.ToString("F2")) </td>
                                    <td class="center price">@(p.Poundage.ToString("F2")) </td>
                                    <td class="center price">@(p.AgentPayGet.ToString("F2")) </td>
                                    <td class="center">[<span>@(Utils.GetFastOrderModel().FirstOrNew(n => n.Id == p.OType).Name)</span>]</td>
                                    <td class="center">@(p.AddTime.ToString("yyyy-MM-dd HH:mm")) </td>
                                    <td class="center">
                                        @(p.GetState())
                                    </td>
                                    <td class="center">
                                        @(p.GetUserClearingState())
                                    </td>
                                    <td class="center">
                                        @(p.CashType)
                                    </td>
                                     <td class="center">
                                        @(p.GetAgentClearingState())
                                    </td>
                                    <td class="center">
                                        @(PayWay)
                                    </td>
                                    <td class="center">
                                        @if (p.PayState == 1)
                                        {
                                            @(p.PayTime.HasValue ? ((DateTime)p.PayTime).ToString("yyyy-MM-dd HH:mm") : "--")
                                        }
                                        else
                                        {
                                            @("--")
                                        }
                                    </td>
                                    <td class="center">@(TopAgentName) </td>
                                    <td class="center">
                                        @if (StateChange && p.IsStateChange() && p.PayWay.HasValue && AllowFastPayWayIdList.Contains(p.PayWay.Value))
                                        {
                                            if (DateTime.Now.AddMinutes(-30) > p.PayTime.Value)
                                            {
                                            <a href="StateChange.html?TNum=@(p.TNum)" class="label label-sm label-success Ajax " title="人工处理">人工处理</a>
                                            }
                                        }
                                        <!--重新出款不要加Ajax-->
                                        @if (Resubmit && p.UserState == 2 && p.PayWay.HasValue)
                                        {
                                            if (p.PayWay.Value != 2 || p.PayWay.Value != 3)
                                            {
                                            <a href="Resubmit.html?TNum=@(p.TNum)" class="label label-sm label-success Resubmit" title="重新出款">重新出款</a>
                                            }
                                            if (p.PayWay.Value == 2 || p.PayWay.Value == 3)
                                            {
                                                if (((DateTime)p.PayTime).ToString("yyyyMMdd") == DateTime.Now.ToString("yyyyMMdd"))
                                                {
                                            <a href="Resubmit.html?TNum=@(p.TNum)" class="label label-sm label-success Resubmit" title="重新出款">重新出款</a>
                                                }
                                                else
                                                {
                                            <a href="Resubmit.html?TNum=@(p.TNum)" class="label label-sm label-success Resubmit" title="处理标识">处理标识</a>
                                                }
                                            }
                                        }
                                         @if (p.PayState == 0 && ViewBag.OrdersRepair)
                                        {
                                          <a href="OrdersRepair.html?Id=@(p.Id)" class="label label-sm label-success Ajax" title="补单">@("补单")</a>
                                        }
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @Html.Partial("~/Areas/Manage/Views/Shared/Page.cshtml", FastOrderList)
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
@Html.Partial("Stats", new StatsModel { ButtonId = "count", ShowId = "Stats", Url = "/Manage/FastOrder/IndexStats.html", FormId = "ListForm" })
@section FooterScripts
{
   @{ <script src="/Content/Metronic/plugins/select2/select2.min.js"></script>
    <script src="/Content/Metronic/plugins/jquery.validationEngine_Float.js"></script>
    <link rel="stylesheet" href="/Content/HaoFu/plugins/FileUpLoad/css/jquery.fileupload.css">
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="/Content/HaoFu/plugins/FileUpLoad/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="/Content/HaoFu/plugins/FileUpLoad/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="/Content/HaoFu/plugins/FileUpLoad/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="/Content/HaoFu/plugins/FileUpLoad/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="/Content/HaoFu/plugins/FileUpLoad/js/jquery.fileupload-validate.js"></script>
    <script>
        $(function () {
            if ($("#Agent").val() != "") {
                $("#S_IsShowSupAgent").show();
                $("#IsShowSupAgent").show();
            }
            else {
                $("#S_IsShowSupAgent").hide();
                $("#IsShowSupAgent").hide();
            }
            $("#Agent").change(function () {
                if ($("#Agent").val() != "") {
                    $("#S_IsShowSupAgent").show();
                    $("#IsShowSupAgent").show();
                }
                else {
                    $("#S_IsShowSupAgent").hide();
                    $("#IsShowSupAgent").hide();
                }
            });
            $('#Agent').select2({
                allowClear: false
            });
            $("#Download").on("click", function () {
                $("#ListForm").attr("action", "/Manage/FastOrder/Download.html");
                $("#ListForm").submit();
                $("#ListForm").attr("action", "");
            });

            $("#Export").on("click", function () {
                $("#ListForm").attr("action", "/Manage/FastOrder/ExcelExport.html");
                $("#ListForm").submit();
                $("#ListForm").attr("action", "");
            });

            $(".BatClearing").click(function () {
                var action = "SysAgentClearing.html";
                var ListID = "0";
                var allselectText = $('input[name=list]');
                for (var i = 0; i < allselectText.length; i++) {
                    if (allselectText[i].checked) {
                        ListID += "," + allselectText[i].value;
                    }
                }
                var length = ListID.split(",").length;
                if (length == 1) {
                    showdialog("当前页面信息并没有任何选中项？");
                    return false;
                }

                art.dialog.confirm('确认结算代理商？', function () {
                    ListID = ListID.replace("0,", "");
                    var Url = action + '?List=' + ListID + '&' + Math.random();
                    $.ajax({
                        url: Url,
                        type: "Get",
                        dataType: "json",
                        success: function (data) {
                            location.reload();
                        }
                    });
                });

            });

            $(".Resubmit").click(function (e) {
                e.preventDefault();
                var url = $(this)[0].href;
                var title = $(this).attr("atitle") == undefined ? $(this).attr("title") : $(this).attr("atitle");
                var awidth = $(this).attr("awidth") == undefined ? "0" : $(this).attr("awidth");
                var aheight = $(this).attr("aheight") == undefined ? "0" : $(this).attr("aheight");
                var save = $(this).attr("save") == undefined ? true : false;
                if (url.indexOf("?") != -1) {
                    url = url + "&IsAjax=1";
                } else {
                    url = url + "?IsAjax=1";
                }
                if (title == "" || title == null) {
                    title = "系统弹窗操作";
                }
                if (awidth == "0" || aheight == "0") {
                    var json = { title: title, lock: true };
                } else {
                    var json = { width: awidth, height: aheight, title: title, lock: true };
                }
                art.dialog.confirm('确认要重新出款？', function () {
                    art.dialog.open(url, json);
                });

            });

        });
        //File元素
      
        $(".UpLoadFile").fileupload({
            url: 'EditUpLoadFastOrder.html',
            dataType: 'json',
            maxFileSize: 10000000,
            acceptFileTypes: new RegExp(/\.xl.{1,2}$/),
            //多语言支付
            messages: {
                maxNumberOfFiles: '最多能上传文件1个',
                acceptFileTypes: '文件类型不正确,格式:xlsx',
                maxFileSize: '上传文件最大10M',
                minFileSize: '上传文件最小1KB'
            },
            //上传成功后调用
            done: function (e, data) {
                if (data.result != null) {
                                var Return = data.result;

                                if (Return.Status == true) {
                                    showdialog("操作成功");
                                }
                            }
                else { showdialog("操作失败"); }
            },
            //处理出错时调用
            processalways: function (e, data) {
                if (data.files.error) {
                    showdialog(data.files[0].error);
                }
                
            },
            always: function (e, data) {
                count--;
                if (count == 0) {
                    sub.attr("disabled", false);
                    sub.text(submitvalue);
                    sub.addClass("green");
                    sub.removeClass("grey");
                }
            },
            submit: function (e, data) {
                count++;
                if (count > 0) {
                    sub.attr("disabled", true);
                    sub.text("上传文件中...");
                    sub.removeClass("green");
                    sub.addClass("grey");
                }
            }
            //单个进程的进度条
        }).on('fileuploadprogress', function (e, data) {
            var progressElem = $(this).parents(".col-md-4").find(".adddiv").find("li[id=" + data.files[0].FileID + "]").find(".progress .progress-bar");
            var progress = parseInt(data.loaded / data.total * 100, 10);
            progressElem.css(
                'width',
                progress + '%'
            ).text(progress + '%');
        });
    </script>
}
    }
@section HeaderScripts
{
    <link rel="stylesheet" type="text/css" href="/Content/Metronic/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Metronic/plugins/select2/select2-metronic.css" />
    <script>
        
    </script>
}