@{
    IList<UsersMoveLog> UsersMoveLogList = ViewBag.UsersMoveLogList;
    ViewBag.SMUid = 142;
    string IsDel = Request.QueryString["IsDel"] != null ? Request.QueryString["IsDel"].ToString() : "0";
    UsersMoveLog UsersMoveLog = ViewBag.UsersMoveLog;
    SysAgent BasicAgent = ViewBag.BasicAgent;
}
<style>
    .hoverimg:hover {
        position: relative;
        right: 60px;
        z-index: 1000;
        transform: scale(10);
    }
</style>
<div class="main-content clearfix">
    <div class="ifarm-index clearfix">
        <div class="list-table">
            <table class="table table-striped table-bordered table-hover tablethc" id="ListBox">
                <thead>
                    <tr>
                        <th width="300">商户 </th>
                        <th width="200">操作 </th>
                        <th width="300">操作时间 </th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    @if (UsersMoveLogList.Count() <= 0)
                    {
                        <tr>
                            <td colspan="20" style="text-align: center; width: 100%; height: 100%; padding: 50px 0;">
                                <img src="/Content/Manage/images/@(Request.QueryString["IsFirst"] == null ? "Index_back_img" : "Index_back_img_to").png" />
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var p in UsersMoveLogList)
                        {
                        <tr class="odd gradeX">
                            <td class="center">@(p.UTrueName) </td>
                            <td class="center">
                                @if (p.FromSAId == BasicAgent.Id)
                                {
                                    @("调出")
                                }
                                else if (p.ToSAId == BasicAgent.Id)
                                {
                                    @("调入")
                                }
                                else
                                {
                                    @("未知")
                                }
                            </td>
                            <td class="center">@(p.AddTime) </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
            @Html.Partial("/Areas/Agent/Views/Shared/NewPage.cshtml", UsersMoveLogList)
        </div>
    </div>
</div>
