
@using Webdiyer.WebControls.Mvc
@model PagedList<CTModel.FastOrder>
<table class="table table-condensed table-hover" id="table">
    <thead>
        <tr style="background-color:#EBF3FA">
            <th>                        </th>
            <th>订单号</th>
            <th>订单生成时间</th>
            <th>开户名</th>
            <th>支付状态</th>
            <th>用户结算状态</th>
            <th>分润结算方式</th>
            <th>支付时间</th>
            <th>用户结算时间</th>
            <th>交易通道名称</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="tooltip-test" data-toggle="tooltip" data-placement="top">

                <td><span><input type="checkbox" name="qx" value="@item.Id" /></span></td>
                <td>@item.TNum</td>
                <td>@item.AddTime</td>
                <td>@item.CardName</td>
                <td>@item.PayState</td>
                <td>@item.UserState</td>
                <td>@item.AgentWay</td>
                <td>@item.PayTime</td>
                <td>@item.UserTime</td>
                <td>@item.OrderType</td>
                <td><input type="button" value="一键更改" onclick="ChangeState(@item.Id)" class="btn btn-danger" /></td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", Id = "bootstrappager" })
</div>
<div id="MediaNum">30天订单： @ViewBag.OrderNum</div>