
@model PagedList<CTModel.BusinessShareProfit>
@using CTCommon.Extended
@using Webdiyer.WebControls.Mvc
@{
    CTModel.BusinessShareProfit bs = new CTModel.BusinessShareProfit();
    if (ViewBag.BusinessShareProfit != null)
    {
        bs = ViewBag.BusinessShareProfit;
    }
    ViewBag.Title = "分销分润百分比配置";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <span>@ViewBag.BSTitle</span>分润百分比配置
            </header>
            <div class="panel-body">
                <form class="form-horizontal adminex-form" action="DistributionFenRun" method="post">
                    <div class="modal-body">
                        <div class="form-group" style="display:none">
                            <label for="firstname" class="col-sm-2 control-label">Id：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Id" id="Id" value="@bs.Id">
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label for="firstname" class="col-sm-2 control-label">Extention：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Extention" id="Extention" value="@bs.Extention">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">经销商一级分润（VIP-4）：<span class="required"> * </span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="S1_4" id="S1_4" value="@bs.S1_4" placeholder="请输入需要修改的经销商一级分润（VIP-4）" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">经销商一级分润（VIP-5）：<span class="required"> * </span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="S1_5" id="S1_5" value="@bs.S1_5" placeholder="请输入需要修改的经销商一级分润（VIP-5）" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">经销商一级分润（VIP-6）：<span class="required"> * </span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="S1_6" id="S1_6" value="@bs.S1_6" placeholder="请输入需要修改的经销商一级分润（VIP-6）" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">同级分润：<span class="required"> * </span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="S1_1" id="S1_1" value="@bs.S1_1" placeholder="请输入需要修改的VIP用户一级分润（VIP-VIP）" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">VIP用户分润：<span class="required"> * </span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="S0_0" id="S0_0" value="@bs.S0_0" placeholder="请输入需要修改的VIP用户分润" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">经销商二级分润（VIP-6-5）：<span class="required"> * </span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="S2_6_5" id="S2_6_5" value="@bs.S2_6_5" placeholder="请输入需要修改的经销商二级分润（VIP-6-5）" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">经销商二级分润（VIP-6-4）：<span class="required"> * </span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="S2_6_4" id="S2_6_4" value="@bs.S2_6_4" placeholder="请输入需要修改的经销商二级分润（VIP-6-4）" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">经销商二级分润（VIP-5-4）：<span class="required"> * </span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="S2_5_4" id="S2_5_4" value="@bs.S2_5_4" placeholder="请输入需要修改的经销商二级分润（VIP-5-4）" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">经销商三级分润（VIP-6-5-4）：<span class="required"> * </span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="S3_6_5_4" id="S3_6_5_4" value="@bs.S3_6_5_4" placeholder="请输入需要修改的经销商三级分润（VIP-6-5-4）" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">类型：<span class="required"> * </span></label>
                            <div class="col-sm-10">
                                <select class="form-control" name="Type" readonly="true" id="Type">
                                    @if (bs.Type == 0)
                                    {
                                        <option value="0" selected>信用卡</option>
                                        <option value="1">贷款</option>
                                    }
                                    else
                                    {
                                        <option value="0">信用卡</option>
                                        <option value="1" selected>贷款</option>
                                    }
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js">
</script>
<script type="text/javascript">
    $(function () {
        $("#M3").addClass("active");
        $("#M3").children("ul").children("li").eq(1).addClass("active");
    });
</script>



