@{
    int PageIndex, PageSize, TotalItemCount, TotalPageCount;
    Type myType = Model.GetType();
    PageIndex = Convert.ToInt32(myType.GetProperty("PageIndex").GetValue(Model, null));
    PageSize = Convert.ToInt32(myType.GetProperty("PageSize").GetValue(Model, null));
    TotalItemCount = Convert.ToInt32(myType.GetProperty("TotalCount").GetValue(Model, null));
    TotalPageCount = Convert.ToInt32(myType.GetProperty("TotalPage").GetValue(Model, null));
    int count = PageSize;
    int pageindex = PageIndex == 0 ? 1 : PageIndex;
    int pageSize = PageSize;
    int TotalPage = TotalPageCount;
    int eachStartPage = pageindex <= 2 ? 1 : pageindex - 2;
    int eachEndPage = pageindex + 2 > TotalPage ? TotalPage : pageindex +2;
}
<div class="pagination">
@if (TotalItemCount > PageSize)
{
    <span class="no">@(pageindex)/@(TotalPage)</span>
    <a href="javascript:SendPageIndex(1);">首页</a>
    if (pageindex != 1)
    {
        @:<a href="javascript:SendPageIndex(@(pageindex - 1));">&laquo;上一页</a>
    }else{
        @:<a>&laquo;上一页</a>
    }
    if (eachStartPage > 1)
    {
            @:<a class="number">…</a>
    }
    for (int i = eachStartPage; i <= eachEndPage; i++)
    {
        string className = i == pageindex ? "current" : "";
        if (i == pageindex)
        {
            @:<a href="#" class="number @(className)" title="第@(i)页">@(i)</a>
        }
        else
        {
            @:<a href="javascript:SendPageIndex(@(i));" class="number @(className)" title="第@(i)页">@(i)</a>
        }
    }
    if (eachEndPage < TotalPage)
    {
        @:<a class="number">…</a>
    }
    if (pageindex != TotalPage)
    {
        @:<a href="javascript:SendPageIndex(@(pageindex + 1));">下一页 &raquo;</a>
    }
    else
    {
        @:<a>下一页 &raquo;</a>
    }
    @:<a href="javascript:SendPageIndex(@(TotalPage));">尾页</a>
}
    <input type="hidden" id="PageIndex" value="@pageindex" />
    <input type="hidden" id="PageSize" value="@pageSize" />
</div>
<script>
    function SendPageIndex(PageIndex) {
        var href = location.pathname;
        var form = $("#ListForm");
        if (form.length < 1) {
            $("body").append("<form name=\"ListForm\" id=\"ListForm\" method=\"get\" action=\"" + href + "\"></form>");
            form = $("#ListForm");
            var query = location.search.substring(1);
            var pairs = query.split("&");
            for (var i = 0; i < pairs.length; i++) {
                var pos = pairs[i].indexOf('=');
                if (pos == -1) continue;
                var argname = pairs[i].substring(0, pos);
                var value = pairs[i].substring(pos + 1);
                if (argname == "PageIndex" || argname == "PageSize") continue;
                form.append("<input type=\"hidden\" value=\"" + value + "\" name=\"" + argname + "\">");
            }
        }
        var PageSize = $("#PageSize").val();
        form.append("<input type=\"hidden\" value=\"" + PageIndex + "\" name=\"PageIndex\">");
        form.append("<input type=\"hidden\" value=\"" + PageSize + "\" name=\"PageSize\">");
        form.submit();
    }
    function SendPageSize(PageIndex) {
        var href = location.pathname;
        var form = $("#ListForm");
        if (!form) {
            $("body").append("<form name=\"ListForm\" id=\"ListForm\" method=\"get\" action=\"" + href + "\"></form>");
            form = $("#ListForm");
        }
        form.append("<input type=\"hidden\" value=\"0\" name=\"PageIndex\">");
        form.append("<input type=\"hidden\" value=\"" + PageIndex + "\" name=\"PageSize\">");
        form.submit();
    }
</script>
    