@{
    MsgCallBack MsgCallBack = ViewBag.MsgCallBack;
    ViewBag.SMUid = 20;
    ViewBag.Title = "处理反馈信息";
}
@Html.Partial("~/Areas/Manage/Views/Shared/Menu.cshtml")
<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box light-grey">
      <div class="portlet-title">
        <div class="caption"> <i class="fa fa-globe"></i>@(ViewBag.Title)</div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="@(MsgCallBack.Id.IsNullOrEmpty()?"Add":"Save").html" id="chkForm" name="chkForm" class="form-horizontal chkForm" enctype="multipart/form-data" method="post">
          <input type="hidden" name="Id" value="@(MsgCallBack.Id)" />
          <div class="form-body">
            <div class="alert alert-danger display-hide"><button class="close" data-close="alert"></button>您所填定内容无法通过验证，请检查警示项目. </div>
            <div class="form-group">
              <label class="control-label col-md-3">商户名称 </label>
              <div class="col-md-4">
                <div class="input-icon right input-large"> <i class="fa"></i>
                  <input type="text" class="form-control input-large" disabled="disabled" value="@(MsgCallBack.NeekName)" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">联系方式 </label>
              <div class="col-md-4">
                <div class="input-icon right input-large"> <i class="fa"></i>
                  <input type="text" class="form-control input-large" disabled="disabled" value="@(MsgCallBack.Linker)" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">标题 </label>
              <div class="col-md-4">
                <div class="input-icon right input-large"> <i class="fa"></i>
                  <input type="text" class="form-control input-large" disabled="disabled" value="@(MsgCallBack.Name)" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">反馈内容 </label>
              <div class="col-md-4">
                <div class="input-icon right"> <i class="fa"></i>
                  <textarea class="form-control input-xxlarge" disabled="disabled" rows="8">@(MsgCallBack.Info)</textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">处理结果 </label>
              <div class="col-md-4">
                <div class="input-icon right"> <i class="fa"></i>
                  <textarea class="form-control input-xxlarge" id="Result" name="Result" rows="8">@(MsgCallBack.Result)</textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn green">提交处理</button>
            </div>
          </div>
        </form>
        <!-- END FORM--> 
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET--> 
  </div>
</div>
@section FooterScripts
{
    @{
<script src="/Content/Metronic/plugins/jquery.validationEngine.js"></script>
    }
}
