@{
    IList<UsersFace> UsersFaceList = ViewBag.UsersFaceList;
    ViewBag.SMUid = 188;
    string IsDel = Request.QueryString["IsDel"] != null ? Request.QueryString["IsDel"].ToString() : "0";
    UsersFace UsersFace = ViewBag.UsersFace;
    IList<SysAgent> SysAgentList = ViewBag.SysAgentList;
}
@Html.Partial("~/Areas/Manage/Views/Shared/Menu.cshtml")
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <form style="padding: 0 20px 10px 20px;" id="ListForm" name="ListForm" method="get">
        <input type="hidden" id="IsFirst" name="IsFirst" value="1" />
        <span>姓名：</span>
        <input type="text" class="pagination-panel-input form-control input-small input-inline input-sm" name="TrueName" value="@(UsersFace.TrueName)" />
        <span class="seperator">|</span>
        <span>手机号：</span>
        <input type="text" class="pagination-panel-input form-control input-small input-inline input-sm" name="Mobile" value="@(UsersFace.Mobile)" />
        <span class="seperator">|</span>
        <select name="CardStae" class="form-control input-small input-inline input-sm">
            <option value="">认证状态</option>
            <option value="1" @(UsersFace.CardStae == 1 ? "selected" : "")>未认证</option>
            <option value="2" @(UsersFace.CardStae == 2 ? "selected" : "")>已认证</option>
        </select>
        <span class="seperator">|</span>
        <select name="IsDaiLi" class="form-control input-small input-inline input-sm">
            <option value="">代理钱包</option>
            <option value="1" @(UsersFace.IsDaiLi == 1 ? "selected" : "")>是</option>
            <option value="99" @(UsersFace.IsDaiLi == 99 ? "selected" : "")>否</option>
        </select>
        <select name="State" class="form-control input-small input-inline input-sm">
            <option value="">状态</option>
            <option value="1" @(UsersFace.State == 1 ? "selected" : "")>未跟进</option>
            <option value="2" @(UsersFace.State == 2 ? "selected" : "")>跟进中</option>
            <option value="3" @(UsersFace.State == 3 ? "selected" : "")>无意向</option>
            <option value="4" @(UsersFace.State == 4 ? "selected" : "")>已完成</option>
        </select>
        <span class="seperator">|</span>
        <select class="form-control input-small input-inline" data-placeholder="==分支机构==" name="Agent" id="Agent">
            <option value="">==分支机构==</option>
            @foreach (var p in SysAgentList)
            {
                <option value="@(p.Id)"@(UsersFace.Agent == p.Id ? " selected" : "")>@(p.Name)</option>
            }
        </select>
        <button class="btn btn-sm yellow table-group-action-submit" type="submit"><i class="fa fa-check"></i>查询</button>
    </form>
</div>
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-globe"></i>@(ViewBag.Title)</div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover tablethc" id="ListBox">
                        <thead>
                            <tr>
                                <th>真实姓名 </th>
                                <th>手机号 </th>
                                <th>认证状态 </th>
                                <th>分支机构 </th>
                                <th>代理钱包 </th>
                                <th>手机类型 </th>
                                <th>次数 </th>
                                <th>跟进状态 </th>
                                <th>更新状态 </th>
                                <th>进入时间 </th>
                                <th>最近时间 </th>
                                <th>操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (UsersFaceList.Count() <= 0)
                            {
                                <tr>
                                    <td colspan="20" style="text-align: center; width: 100%; height: 100%; padding: 50px 0;">
                                        <img src="/Content/Manage/images/@(Request.QueryString["IsFirst"] == null ? "Index_back_img" : "Index_back_img_to").png" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var p in UsersFaceList)
                                {
                                    SysAgent SysAgent = SysAgentList.FirstOrNew(n => n.Id == p.Agent);
                                <tr class="odd gradeX">
                                    <td class="center" title="注册地址：@(p.RegAddress)">@(p.TrueName) </td>
                                    <td class="center">@(p.Mobile) </td>
                                    <td class="center">@if (p.CardStae == 2)
                                                       {
                                        <i class="fa fa-check color-green"></i>
                                                       }
                                                       else
                                                       {
                                        <i class="fa fa-times color-red"></i>
                                                       }
                                    </td>
                                    <td class="center">@(SysAgent.Name) </td>
                                    <td class="center">@if (p.IsDaiLi == 1)
                                                       {
                                        <i class="fa fa-check color-green"></i>
                                                       }
                                                       else
                                                       {
                                        <i class="fa fa-times color-red"></i>
                                                       } </td>
                                    <td class="center">@if (p.MobileType == 1)
                                                       { 
                                        @:安卓
                                                       }
                                                       else if (p.MobileType == 2)
                                                       { 
                                        @:苹果
                                                       }
                                                       else
                                                       {
                                        @:未知
                                                       } </td>
                                    <td class="center" title="@(p.When)">
                                        <a title="访问时间" class="label label-sm label-success Ajax" href="Edit.html?Id=@(p.Id)&Remark=Time">@(p.Times)</a>
                                    </td>
                                    <td class="center">@if (p.State == 2)
                                                       {
                                        <i class="fa color-green">跟进中</i>
                                                       }
                                                       else if (p.State == 1)
                                                       {
                                        <i class="fa">未跟进</i>
                                                       }
                                                       else if (p.State == 3)
                                                       {
                                        <i class="fa color-red">无意向</i>
                                                       }
                                                       else if (p.State == 4)
                                                       {
                                        <i class="fa color-blue">已完成</i>
                                                       } </td>
                                    <td class="center">@if (p.IsNew == 1)
                                                       {
                                        <i class="fa color-green" title="跟进后再次更新状态">新</i>
                                                       }</td>
                                    <td class="center">@(p.AddTime.ToString("yyyy-MM-dd HH:mm")) </td>
                                    <td class="center">@(p.UpdateTime.ToString("yyyy-MM-dd HH:mm")) </td>
                                    <td class="center">
                                        <a class="label label-sm label-success Ajax" href="Edit.html?Id=@(p.Id)" title="跟进用户"><i class="fa fa-wrench"></i>跟进</a>
                                        <a class="label label-sm label-success Ajax" href="Edit.html?Id=@(p.Id)&Remark=Log" title="跟进记录"><i class="fa fa-wrench"></i>记录</a>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @Html.Partial("~/Areas/Manage/Views/Shared/Page.cshtml", UsersFaceList)
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
